@use "@material";

*{
    margin: 0;
    padding: 0;
}
body {
  font-family: helvetica, arial, sans-serif;
  color: #3d3d3d;
  --mdc-theme-primary: #007f8b;
  --mdc-theme-on-primary: #f1f3f4;
  height: 100vh;
  width: 100vw;
  padding: 0 !important;;
  margin: 0 !important;
}

h1 {
  font-style: italic;
  color: #ff6f00;
  color: #007f8b;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background: #17171721;
  margin: 11px  2px 8px 0;
    border-radius: 12px;


}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header,
footer {
  clear: both;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.videoView,
.detectOnClick,
.blend-shapes {
  position: relative;
  float: left;
  width: 100%;
  margin: 2% 1%;
  cursor: pointer;
}

.videoView{
  position: relative;
  float: left;
  width: 100%;
  margin: 2% 1%;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
}

.videoView p,
.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

  background: #fbf9f9;
  margin: 9px 0px 4px 0px;
  border-radius: 13px;
}

.background_transparent{
  background: transparent !important;
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}

.blend-shapes-item {
  display: flex;
  align-items: center;
  height: 20px;
}

.blend-shapes-label {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
}

.blend-shapes-value {
  display: flex;
  height: 16px;
  align-items: center;
  background-color: #007f8b;
}

.blend-shapes{
  overflow: scroll;
  height: 300px;
  width: 14%;
  overflow-x: hidden;
}

video {
  transform: scaleX(-1);
}

#face_canvas{
  /* position: absolute;
  left: 17px;
  bottom: 16px;
  width: 60px;
  height: 60px;
  border-radius: 60% */
  position: absolute;
  left: 17px;
  bottom: 16px;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  border: solid 4px #fffefe00;
}

.face_canva_webcam_background{
  border: solid 4px #04a90ad4 !important;
}

#webcam_canvas {
    position: absolute;
    margin: 9px 0px 10px 0px;
    border-radius: 13px;
}

#mouthCanvas {
  /* border: 1px solid red; */
  position: absolute;
  z-index: 1;
  bottom: 13px;
  /* display: none; */
  /* right: 34%; */
  border-radius: 13px;
  width: 46px;
  left: 18px;
}


#threejs-container{
  width: 480px;
  height: 360px;
  margin-top: 11px;
  background: #fbf9f9;
  border-radius: 13px;
}

#threejs-container canvas{
  border-radius: 13px;
}


@media (max-width: 768px) {
  video, canvas {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000
  }

  .divCanvas{
    /* display: none; */
  }

  #output_canvas{
    width: 90vw !important;
    height: 34vh !important;
    margin:0
  }
  

  .divCanvasMain{
    padding: 0 !important;
  }



  #mouthCanvas {
    width: 80px;
    height: 80px;
    bottom: 8px;
    left: 8px;
  }

  nav {
    flex-direction: column;
    /* top: 8px; */
    right: 8px;
    gap: 6px;
    z-index: 10000;
  }

  .blend-shapes {
    font-size: 10px;
    max-width: 90vw;
    bottom: 4px;
    right: 4px;
  }

  #webcam{
    width: 100% !important;
    height: 34% !important;
    margin: 0 !important;
  }

  

  .divCanvasMain {
    height: 100%;
    padding: 0;
    box-sizing: border-box;

  }

  #threejs-container{
    display: none;
  }

  .webcam_canvas{
    display: none;
  }

}

nav{
  position: absolute;
  bottom: 25px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

#demos{
  width: 100%;
  height: 100%;
}

.divCanvasMain{
  width: 100%;
  display: flex;
  gap: 22px;    
  height: auto;
  padding: 1px 20px;
  box-sizing: border-box;

}

